.board-details-container {
  padding: 20px;
}

.pins-grid {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.pin-card img {
  width: 150px;
  border-radius: 8px;
  transition: transform 0.2s;
}

.pin-card img:hover {
  transform: scale(1.05);
}
