/* Login.css or Register.css */
.auth-container {
  padding: 50px;
  text-align: center;
}

.auth-container input {
  display: block;
  margin: 10px 0;
  padding: 10px;
  width: 250px;
  border-radius: 5px;
  border: 1px solid #2E6F40;
}

.auth-container button {
  background: #2E6F40;
  color: #F5F5DC;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}
