body {
  font-family: 'Arial', sans-serif;
  background-color: #F5F5DC;
  color: #2E6F40;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #2E6F40;
}

nav {
  padding: 10px;
  background-color: #2E6F40;
  color: #F5F5DC;
}

nav a {
  margin-right: 15px;
  color: #F5F5DC;
  font-weight: bold;
}
